
header{
    display: flex;
    background-color:#2D9CDB;
    border-bottom: 10px solid #000000;
    padding:10px 20px;
    justify-content: space-between;
}
nav{
    text-align: right;
    width: 100%;
}
a{ 
    display: inline-flex;
    align-items: center;
    font-family: Piedra, sans-serif;
    color: black;
    font-size: 20px;
    font-weight: 400;
    text-decoration:none;
    margin-right: 20px;
    
} 
a::before{
    content: "";
    background-color: #62C370;
    width: 10px;
    height: 10px;
    margin-right: 10px

}
a:hover{
    color: #fff;
    transition: .5s;
}
#button{

    background-color: #62C370;
    display:inline-block;
    height: 25px;
    line-height: 26px;
    box-shadow:5px 5px 2px #000000;
    padding: 17px 20px;
    padding-left: 5px;
    margin-right: 0px;
    cursor: url("../assets/img/cursor1.png"), auto;
    transition: transform 500ms linear;
}
#button:hover{
    transform: translate(5px, 10%);
    color: #fff;
    background-color:#009955;
    
  
  }
  section{
    text-align: left;
    width: 100%;
  }
.box{
    align-items: center;
    font-family: Piedra, sans-serif;
    font-size: 35px;
    background-color: #2D9CDB;
    display:inline-block;
    line-height: 26px;
    box-shadow:10px 10px 2px #ddd;
    padding: 15px 22px;
    padding-left: 38px;
    margin-top: 50px;
    margin-left: 91px;  
}
.bghome{ 
    background-image: url("../assets/img/background-home.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.button2  {
    align-items: center;
    font-family: Piedra, sans-serif;
}
.button2 a{
    background-color: #62C370;
    height: 20px;
    line-height: 26px;
    box-shadow:5px 5px 2px #000000;
    padding: 15px 10px;
    padding-left: 5px;
    margin-left: 91px ;
    margin-top: 20px;

}
.button2 a {
    display: inline-block;
}
.tittle1 {
    color: #62C370;    
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    text-shadow: 4px 4px 0px #000000;
}
.tittle2 {
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
}