.card-project{
    color: rgb(0, 0, 0);
    background-color: #A81452;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    line-height: 26px;
    box-shadow:5px 5px 2px #fff;
    padding: 17px 20px;
    margin-right: 0px;
    cursor: url("../assets/img/cursor1.png"), auto;
    text-decoration: none;
    transition: transform 500ms;
    align-items: center;
}
.card-project:hover{
    transform: translate(5px, 15%);
    background-color: #fff;
    box-shadow:5px 5px 2px #F5056B;  
  }

.card-project.-grey{
    background-color:#333333;
}

.card-project.-grey:hover{
    transform: translate(5px, 15%);
    background-color: rgb(0, 0, 0);
    box-shadow:5px 5px 2px #fff;  
  }