.main-section{
    background-color:#000;
    height:730px;
    padding-top: 50px;
    border-bottom: solid 10px #fff;
}
.main-section .main-title{
    margin-bottom: 50px;
}
.main-section.-second{
    background-color: #A81452;
    }


.main-section .card{
    align-items: center;
    justify-content: space-between;
    margin-left: 110px;
}
