.main-button{
    color: #000;
    background-color: #F5056B;
    display:inline-block;
    height: 25px;
    line-height: 26px;
    box-shadow:5px 5px 2px #000000;
    padding: 17px 20px;
    margin-right: 0px;
    cursor: url("../assets/img/cursor1.png"), auto;
    text-decoration: none;
    transition: transform 500ms;
}

.main-button:hover{
    transform: translate(5px, 15%);
    color: #A81452;
    background-color:#fff;  
  }
