.main-title{ 
    font-family: 'Courier New', Courier, monospace, sans-serif;
    color: #fff;    
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 0em;
    text-shadow: 4px 4px 0px #F5056B;
}

.main-title.-second{
    color: #fff;
    text-shadow:none;
    text-align: center;
    margin-top: 50px;
}
